https://docs.openbb.co/sdk/guides/intros/forex

In [1]:
from openbb_terminal.sdk import openbb
import pandas as pd
#%matplotlib inline

In [6]:
currency_pair = openbb.forex.load(
    from_symbol='USD',
    to_symbol='EUR',
    start_date = '2022-01-01',
    interval = '1week')

currency_pair.head(3)

               Open     High      Low    Close  Adj Close  Volume
date
2022-01-01  0.87910  0.88704  0.87905  0.88520    0.88520       0
2022-01-08  0.88000  0.88587  0.87080  0.87282    0.87282       0
2022-01-15  0.87593  0.88478  0.87454  0.88388    0.88388       0

[Average True Range](https://docs.openbb.co/sdk/guides/intros/forex#average-true-range)

In [7]:
weekly_atr = openbb.ta.atr(data = currency_pair, window = 4)
currency_pair = currency_pair.join(weekly_atr)

currency_pair.tail(1)

              Open    High     Low   Close  Adj Close  Volume    ATRe_4
date
2022-11-29  0.9665  0.9673  0.9616  0.9638     0.9638       0  0.015951

[Forward Rates](https://docs.openbb.co/sdk/guides/intros/forex#average-true-range)

In [9]:
fwd_eurusd = openbb.forex.fwd('USD', 'EUR')

fwd_eurusd

                   Ask      Bid      Mid     Points
Expiration
Overnight      1.03739  1.03737  1.03738     0.6785
Tomorrow Next  1.03739  1.03737  1.03738     0.7150
Spot Next      1.03739  1.03737  1.03738     0.7050
One Week       1.03781  1.03779  1.03780     4.8950
Two Weeks      1.03831  1.03828  1.03830     9.8450
Three Weeks    1.03890  1.03887  1.03888    15.7100
One Month      1.04057  1.04032  1.04044    31.3450
Two Months     1.04257  1.04252  1.04254    52.3350
Three Months   1.04491  1.04439  1.04465    73.4290
Four Months    1.04714  1.04708  1.04711    98.0000
Five Months    1.04918  1.04912  1.04915   118.4000
Six Months     1.05127  1.05119  1.05123   139.2000
Seven Months   1.05358  1.05346  1.05352   162.1000
Eight Months   1.05558  1.05546  1.05552   182.1000
Nine Months    1.05770  1.05758  1.05764   203.3000
Ten Months     1.05990  1.05978  1.05984   225.3000
Eleven Months  1.06187  1.06175  1.06181   245.0000
One Year       1.06375  1.06361  1.06368   263.7000
Two Years      1.08242  1.08190  1.08216   448.5000
Three Years    1.09482  1.09380  1.09431   570.0000
Four Years     1.10612  1.10510  1.10561   683.0000
Five Years     1.11842  1.11640  1.11741   801.0000
Six Years      1.12932  1.12680  1.12806   907.5000
Seven Years    1.14032  1.13680  1.13856  1012.5000
Ten Years      1.16942  1.16290  1.16616  1288.5000

Not all currency pairs will have the same length of term structure.

In [11]:
fwd_jpyeur = openbb.forex.fwd('JPY', 'EUR')
fwd_pairs = fwd_jpyeur.join(fwd_usdeur, on = ['Expiration'], lsuffix = ' JPY/EUR', rsuffix=' USD/EUR')

fwd_pairs

,Ask JPY/EUR,Bid JPY/EUR,Mid JPY/EUR,Points JPY/EUR,Ask USD/EUR,Bid USD/EUR,Mid USD/EUR,Points USD/EUR
Expiration,,,,,,,,
Overnight,143.263,143.254,143.258,-0.6300,0.96398,0.96391,0.96394,-0.640
Tomorrow Next,143.263,143.254,143.258,-0.5650,0.96397,0.96390,0.96394,-0.665
Spot Next,143.263,143.254,143.258,-0.5950,0.96398,0.96390,0.96394,-0.650
One Week,143.263,143.254,143.258,-4.3100,0.96358,0.96351,0.96355,-4.585
Two Weeks,143.262,143.253,143.258,-8.4600,0.96313,0.96305,0.96309,-9.175
Three Weeks,143.262,143.253,143.257,-12.9500,0.96258,0.96250,0.96254,-14.655
One Month,143.261,143.252,143.256,-22.5615,0.96115,0.96106,0.96110,-29.010
Two Months,143.258,143.249,143.254,-46.9950,0.95922,0.95912,0.95917,-48.365
Three Months,143.256,143.246,143.251,-73.2230,0.95730,0.95720,0.95725,-67.560
Four Months,143.252,143.243,143.248,-108.2150,0.95506,0.95495,0.95500,-90.020
Five Months,143.249,143.240,143.245,-140.3550,0.95320,0.95308,0.95314,-108.630
Six Months,143.246,143.237,143.241,-174.1000,0.95131,0.95119,0.95125,-127.530
Seven Months,143.242,143.233,143.237,-210.7250,0.94924,0.94911,0.94917,-148.315
Eight Months,143.239,143.230,143.234,-243.7550,0.94744,0.94731,0.94738,-166.295
Nine Months,143.235,143.226,143.231,-279.3900,0.94556,0.94540,0.94548,-185.215
Ten Months,143.232,143.222,143.227,-316.0750,0.94362,0.94344,0.94353,-204.725
Eleven Months,143.228,143.219,143.223,-350.7450,0.94185,0.94167,0.94176,-222.490
One Year,143.225,143.215,143.220,-384.0500,0.94023,0.94003,0.94013,-238.755
Two Years,143.188,143.177,143.183,-759.1650,0.92422,0.92373,0.92398,-400.290